@charset 'UTF-8';

/* Typical device breakpoints
------------------------------
Telas Pequenas: até 600px
Celulares: de 600px até 768px
Tablets: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Tela: Acima de 1200px
*/


@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(#5f2c82, #3bacac);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background: url(../imagens/login\ pq.jpg) no-repeat center center;
        background-size: cover; 
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    } 

    section#login > div#formulario > h1{
        text-align: center;
        font-size: 2em;
    }
    
    section#login > div#formulario > p{
        text-align: justify;
        font-size: 1.2em;
        padding: 10px;
    }
}

@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(#5f2c82, #3bacac);
    }

    section#login{
        width: 80vw;
    }
   
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center bottom;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
        
    }

    section#login > div#formulario > h1{
        text-align: center;
        font-size: 2em;
    }
    
    section#login > div#formulario > p{
        text-align: justify;
        font-size: 1.2em;
        padding: 10px;
    }

    
}